/* За по-големи екрани (настолни компютри) */
@media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
}

/* За мобилни устройства */
@media (max-width: 767px) {
    body {
      font-size: 14px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 100%; /* За мобилни устройства */
}

@media (min-width: 768px) {
    .item {
      flex: 1 1 50%; /* За таблети и по-големи екрани */
    }
}

@media (min-width: 1024px) {
    .item {
      flex: 1 1 33.33%; /* За по-големи екрани */
    }
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0,5%; /* Добавено отстояние между елементите */
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px; /* padding в пиксели за по-добър контрол */
    text-decoration: none;
    justify-content: center;
}

li a:hover:not(.active) {
    background-color: #3d99ba;
}

.active {
    background-color: #0588b8;
}

header {
    text-align: center;
    background-color: #3d99ba;
    padding: 1% 0; /* добавяне на padding за header в проценти */
}

body, html {
    margin: 0;
    padding: 0;
}
body {
        color: black;
        background: #c8d1ce;
}

.navbar {
    width: 100%;
    background-color: #3d99ba; /* Цветът на фона на navbar-а */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* За да се гарантира, че navbar остава най-отгоре */
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрира съдържанието хоризонтално */
    justify-content: top; /* Центрира съдържанието вертикално */
    height: 80vh; /* Прави контейнера да заема цялата височина на екрана */
    text-align: center; /* Центрира текста */
}

.header-container img {
    width: 50%; /* Регулирай размера на изображението според нуждите си */
    height: auto;
    margin-bottom: 0.3rem; /* Разстояние между изображението и текста */
}
/* Стил за основния контейнер */
.container {
    display: flex;
    justify-content: center; /* Центрирайте хоризонтално */
    align-items: center; /* Центрирайте вертикално (ако имате височина) */
    height: 100vh; /* Изпълнете височината на екрана, за да центрирате вертикално */
    
    
}

/* Стил за правоъгълника */
.info-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 15px;
    background-color: #f9f9f9;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto; /* Центрирайте в контейнера */
    justify-content: space-around;
}

/* Стил за изображението */
.info-image {
    width: 50%;
    height: 70%;
    border-radius: 40px;
    object-fit: contain;
    margin-right: 15px;
}

/* Стил за текстовата секция */
.info-content h3 {
    margin: 0;
    font-size: 1rem; /* Променете на нормален размер */
}

.info-content p {
    margin: 5px 0 0;
    color: black;
}

/* Бутон за повече информация */
.more-info-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}

.more-info-btn:hover {
    background-color: #007BFF;
}
.bottom-button {
    display: block; /* Прави бутона блочен елемент */
    width: 40%; /* Ширина на бутона */
    margin: 2% auto; /* Центрира бутона хоризонтално и добавя отстъп отгоре и отдолу */
    padding: 1%; /* Вътрешно отстояние */
    text-align: center; /* Центриране на текста в бутона */
    background-color: #007BFF; /* Фон цвят на бутона */
    color: white; /* Цвят на текста */
    text-decoration: none; /* Премахва подчертаването */
    border-radius: 5px; /* Заобляне на ъглите */
    font-size: 1.4rem; /* Размер на текста */
}

.bottom-button:hover {
    background-color: #007BFF; /* Цвят на бутона при задържане с мишката */
}


table {
    width: 100%;
    height: 50vh;
    text-align: center;
}

td {
    vertical-align: top;
    color: black;
    padding: 10px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 500px; /* Ограничаване на височината на кутийката */
    padding: 10px;
    box-sizing: border-box;
}

.info-image {
    width: 100%;
    height: 60%; /* Фиксиран процент за изображението спрямо кутийката */
    object-fit: cover; /* Поддържа пропорциите на изображението */
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40%; /* Задаване на фиксиран процент за текста */
}

.subtitle {
    margin-top: 2%;
    font-size: 3rem;
    font-weight: bold;
    color: black;
}




     